{
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": false,
			"dynamicImport": false
		},
		"target": "esnext",
		"experimental": {
			"keepImportAssertions": true
		}
	},
	"module": {
		"type": "es6",
		"strict": false,
		"strictMode": true,
		"lazy": false,
		"noInterop": false
	}
}
